body {
  font-size: 13px;
  color: #333;
}

i {
  font-size: 13px;
}

.tense-content{
  border-left: solid 0.5px #EBEBED;
  border-right: solid 0.5px #EBEBED;
}

.title {
  font-family: "Galada", cursive;
  font-size: 55px;
  color: #fff;
}

.link-to-tense{
  text-decoration:none;
  padding: 20px;
  background-color: blue;
  color: #fff;
}

.orangered {
  color: orangered;
}

.subtitle {
  text-align: center;
  color: #fff;
  font-size: 23px;
}

.example-box {
  min-width: 768px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  border: solid 0.5px #ebebed;
  background-color: #fff;
  border-radius: 10px;
}

.subject-box {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  border-right: solid 0.5px #ebebed;
}

.affirmative-box {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  border-right: solid 0.5px #ebebed;
}

.interrogative-box {
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 4;
}

.negative-box {
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 5;
  border-left: solid 0.5px #ebebed;
}

.description {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
}
.box-title {
  text-align: center;
  background-color: rosybrown;
}

.transparence {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

.text-center {
  text-align: center;
}
.subject-box {
  background-color: transparent;
}
.description-box {
  background-color: transparent;
}
.structure-box {
  border-radius: 10px;
  border: solid 1px orangered;
}

@media only screen and (max-width: 767px) {
  .example-box {
    overflow-x: scroll;
  }
}
