body{
    font-size: 13px;
    color: #333;
}

.title {
    font-family: 'Galada', cursive;
    font-size: 55px;
    color: #FFF;
}


.subtitle{
    text-align: center;
    color: #FFF;
    font-size: 23px;
    font-weight: bold;
}

.example-box{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    border: solid 0.5px #EBEBED;
}

.affirmative-box{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: solid 0.5px #EBEBED;
}

.interrogative-box{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.negative-box{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    border-left: solid 0.5px #EBEBED;
}


.description{
    font-size: 15px;
    color: #000000;
    font-weight: 500;
}
.box-title {
    text-align: center;
    background-color: rosybrown;
}


.transparence {
    background-color: rgb(0, 0, 0);
    opacity: .5;
}

.text-center{
    text-align: center;
}
.subject-box{
    background-color: transparent;
}
.description-box{
    background-color: transparent;
}
.structure-box{
    background-color: transparent;
}