<div class="complement-container">
  <div>
    <h4 class="orangered">
      1 - Affirmative Sentences <i>(Oraciones afirmativas)</i>
    </h4>
  </div>

  <div class="structure-box text center">
    <h4>Sujeto + Verbo</h4>
  </div>

  <div>
    <h4 class="orangered">Example</h4>
    <ul>
      <li>
        <h4>I talk <i>(Yo hablo)</i></h4>
      </li>
      <li>
        <h4>He eats <i>(El come)</i></h4>
      </li>
      <li>
        <h4>We learn <i>(Nosotros aprendemos)</i></h4>
      </li>
    </ul>
  </div>
</div>
