<div class="complement-container">
  <div>
    <h4 class="orangered">
      3 - Interrogative Sentences <i>(Oraciones interrogativas)</i>
    </h4>
  </div>

  <div class="structure-box text center">
    <h4>Verbo auxiliar (Do/Does) + Sujeto + Verbo Principal</h4>
  </div>

  <div>
    <h4 class="orangered">Example</h4>
    <ul>
      <li>
        <h4>Do you jump two meters? <i>(¿Saltas 2 mts?)</i></h4>
      </li>
      <li>
        <h4>Does He fixes pipes? <i>(¿El repara tuberias?)</i></h4>
      </li>
      <li>
        <h4>Do We learn something? <i>(¿Aprendemos algo?)</i></h4>
      </li>
    </ul>
  </div>
</div>
