<div class="complement-container">
  <div>
    <h4 class="orangered">
      2 - Negative Sentences <i>(Oraciones Negativas)</i>
    </h4>
  </div>

  <div class="structure-box text center">
    <h4>Sujeto + Verbo auxiliar (Do/Does)+ Not + Verbo Principal</h4>
  </div>

  <div>
    <h4 class="orangered">Example</h4>
    <ul>
      <li>
        <h4>You Do Not jump two meters. <i>(Tu no saltas dos metros)</i></h4>
      </li>
      <li>
        <h4>He Does Not fix pipes. <i>(El no repara tuberias)</i></h4>
      </li>
      <li>
        <h4>We Do Not learn something. <i>(No aprendemos algo)</i></h4>
      </li>
    </ul>
  </div>
</div>
