{% extends 'layout.html' %}
<!-------------------------------->
{% block title %} Empezar con Gabiteacher{% endblock %}
<!-------------------------------->
{% block css %}
<link type="text/css" rel="stylesheet" href="../public/css/get-started.css" />{%
endblock %}
<!-------------------------------->
{% block BgImage %} style="background-image: url('../public/img/iniciar.jpg');"{% endblock %}
<!-------------------------------->
{% block BgImageTitle %}
<div class="col-md-12 text-center">
  <h1 class="white-text">Empezando con Gabiteacher</h1>
  <a href="#"><i class="fas fa-play-circle" style="color:#fff; font-size:50px;"></i></a>
</div>
{% endblock %} 
<!-------------------------------->
{% block content %}

{% endblock %}
