{% extends "layout.html" %}

<!--Title-->
{% block title%}GabiTeacher - Free Online Training of English{% endblock %}
<!--/Title-->

{% block content %}

<!-- Home -->
<div id="home" class="hero-area">
    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image: url('../public/img/knowledge-1052014_1920.jpg')"></div>
    <!-- /Backgound Image -->

    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="white-text">The Online School to learn English</h1>
                    <p class="lead white-text">Education to learn english dedicated to people<br> that want learn since cero </p>
                    <a class="main-button icon-button" href="#">Get Started!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Home -->

<!-- About -->
<div id="about" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <div class="section-header">
                    <h2>Welcome to GabiTeacher</h2>
                    <p class="lead">Your online school to learn english of the way more easy.</p>
                </div>

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fas fa-mobile"></i>
                    <div class="feature-content">
                        <h4>Without borders</h4>
                        <p>Learn through any device of your choice. The only requirement is to have Internet access.</p>
                    </div>
                </div><br>
                <!-- /feature -->

                <!-- feature -->
                <div class="feature">
                    <i class="feature-icon fas fa-check"></i>
                    <div class="feature-content">
                        <h4>Effectiveness</h4>
                        <p>Studies confirm that online students outperform similar students who took face-to-face courses.</p>
                    </div>
                </div>
                <!-- /feature -->

            </div>

            <div class="col-md-6">
                <div class="about-img">
                    <img src="../public/img/gabiteacher-port.jpg" alt="gabiteacher-port">
                </div>
            </div>

        </div>
        <!-- row -->

    </div>
    <!-- container -->
</div>
<!-- /About -->

<!-- Courses -->
<div id="courses" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h2>Explore menu</h2>
            </div>
        </div>
        <!-- /row -->

        <!-- courses -->
        <div id="courses-wrapper">

            <!-- row -->
            <div class="row">

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="../public/img/course01.jpg">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">Verb Tenses</a>

                    </div>
                </div>
                <!-- /single course -->

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="../public/img/course02.jpg" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">Vocabulary </a>

                    </div>
                </div>
                <!-- /single course -->

                <!-- single course -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="../public/img/course03.jpg" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">Prepositions</a>

                    </div>
                </div>
                <!-- /single course -->

                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="course">
                        <a href="#" class="course-img">
                            <img src="../public/img/course04.jpg" alt="">
                            <i class="course-link-icon fa fa-link"></i>
                        </a>
                        <a class="course-title" href="#">Blog</a>

                    </div>
                </div>
                <!-- /single course -->
            </div>
        </div>
        <!-- /courses -->

        <div class="row">
            <div class="center-btn">
                <a class="main-button icon-button" href="#">More</a>
            </div>
        </div>

    </div>
    <!-- container -->

</div>
<!-- /Courses -->

<!-- Call To Action -->
<div id="cta" class="section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(../public/img/books-1204029_1920.jpg)"></div>
    <!-- /Backgound Image -->

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-6">
                <h2 class="white-text">We want you to be the best in English with our help</h2>
                <p class="lead white-text">
                    Learn english is easy but does not mean that it is so simple, so you have to learn something every day and practice it
                </p>
                <a class="main-button icon-button" href="#">Get Started!</a>
            </div>

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

</div>
<!-- /Call To Action -->

<!-- Why us -->
<div id="why-us" class="section">

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">
            <div class="section-header text-center">
                <h2>Why GabiTeacher?</h2>
            </div>

            <!-- feature -->
            <div class="col-md-3">
                <div class="feature">
                    <i class="feature-icon fas fa-mobile"></i>
                    <div class="feature-content">
                        <h4>Without borders</h4>
                        <p>Learn through any device of your choice. The only requirement is to have Internet access.</p>
                    </div>
                </div>
            </div>
            <!-- /feature -->

            <!-- feature -->
            <div class="col-md-3">
                <div class="feature">
                    <i class="feature-icon fas fa-check"></i>
                    <div class="feature-content">
                        <h4>Effectiveness</h4>
                        <p>Studies confirm that online students outperform similar students who took face-to-face courses.</p>
                    </div>
                </div>
            </div>
            <!-- /feature -->

            <!-- feature -->
            <div class="col-md-3">
                <div class="feature">
                    <i class="feature-icon fa fa-comments"></i>
                    <div class="feature-content">
                        <h4>Community</h4>
                        <p>Join the generation of people who know how to master the English language.</p>
                    </div>
                </div>
            </div>
            <!-- /feature -->

            <!-- feature -->
            <div class="col-md-3">
                <div class="feature">
                    <i class="feature-icon fas fa-book"></i>
                    <div class="feature-content">
                        <h4>Learn freely</h4>
                        <p>Watch videos at your own pace as many times as you want, on your own terms.</p>
                    </div>
                </div>
            </div>
            <!-- /feature -->

        </div>
        <!-- /row -->

        <hr class="section-hr">

    </div>
    <!-- /container -->

</div>
<!-- /Why us -->

<!-- Contact CTA -->
<div id="contact-cta" class="section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url('../public/img/cta2-background.jpg')"></div>
    <!-- Backgound Image -->

    <!-- container -->
    <div class="container">

        <!-- row -->
        <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="white-text">Contact Us</h2>
                <p class="lead white-text">
                    Do you have anything to tell us? Any questions? Any suggestions for improvement? Everything is welcome!
                </p>
                <a class="main-button icon-button" href="{{url_for('contact')}}">Contact Us Now</a>
            </div>

        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

</div>
<!-- /Contact CTA -->
{% endblock %}