<!DOCTYPE html>
<html lang="es">

<head>
    <!----- Include the head component in /components/head.html------->
    {% include 'components/head.html' %}
    <!----------------------------------->
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% include 'components/header.html' %}

    <!-- Image -->
    <div id="home" class="hero-area">
        <!-- Backgound Image -->
        <div
            class="bg-image bg-parallax overlay"
            {% block BgImage %} {% endblock %}>
        </div>
            <!-- /Backgound Image -->
    
            <div class="home-wrapper">
                <div class="container">
                <div class="row">
                    {% block BgImageTitle %}
                    
                    {% endblock %}
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Image -->

    {% block content %} {% endblock %}
    <!---->
    {% block footer %}
    <!---->
    {% include 'components/footer.html' %}
    <!---->
    {% endblock %}

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="../public/js/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
</body>

</html>