{% extends 'layout.html' %}
<!--------------------------------->
{%block title%} {{userinfo['name']}} profile | GabiTeacher{% endblock %}

<!-- Home -->

{% block BgImage %} style="background-image:
url('../public/img/knowledge-1052014_1920.jpg')"> 
{% endblock %} 

{% block BgImageTitle %}
<div class="col-md-12">
  <img class="avatar" src="{{userinfo['picture']}}" height="200px" />
  <h1 class="white-text">Welcome {{userinfo['name']}}</h1>
</div>
<div>
  <a href="{{url_for('logout')}}">Logout</a>
</div>
{% endblock %}

<!-- /Home -->
{% block content %} {%endblock%}
