{% extends 'layout.html' %}
<!------------------->
{% block css%}
<link rel="stylesheet" type="text/css" href="../public/css/verb_tenses.css" />
{% endblock %}
<!---->
{% block title %} Presente Simple {% endblock %}
<!---->
{% block BgImage %}
style="background-image:url('../public/img/simple-present.jpg');" {% endblock %}

<!---->
{% block BgImageTitle %}
<div class="col-md-3"></div>
<div class="col-md-6">
  <h1 class="title">Presente Simple</h1>
  <br /><br />

  <div class="col-md-12">
    <p class="subtitle">
      <b
        >Al hablar en presente, estamos hablando de algo sucede cotidianamente,
        como una rutina, hábitos o repeticiones.</b
      >
    </p>
  </div>
</div>
<div class="col-md-3"></div>
{% endblock %} 
<!---->

{% block content %}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!---->
        {% include 'components/simple_present/examples_box.html' %} <br/>
        <!---->
        {% include 'components/simple_present/meanings.html' %}
        <!---->
      </div>

      <div class="col-md-9 tense-content">
        <!---->
        {% include 'components/simple_present/grammatical_rules.html' %}
        <!---->
        <div class="div-title" >
          <h2 class="orangered">Structure <i>(Estructura)</i></h2>
        </div>
        <!---->
        {% include 'components/simple_present/affirmative.html' %}
        <!---->
        {% include 'components/simple_present/negative.html' %}
        <!---->
        {% include 'components/simple_present/interrogative.html' %}
        <!---->
        {% include 'components/simple_present/uses.html' %}
        <!---->
      </div>

      
    </div>
  </div>
</div>
{% endblock%}
