{% extends 'verb_tenses_structure.html' %}
<!---->
{% block title %}Presente Simple{% endblock%}

<!---->
{% block CoverImageLink %}
    style="background-image:url('../public/img/simple-present.jpg');"
{% endblock %}
<!---->

<!--titulo de tiempo verbal-->
{% block VerbTenseTitle %}Presente Simple{% endblock %}
<!---->

<!--Descripcion del tiempo verbal -->
{% block DescriptionTense %}
Al hablar en presente, estamos hablando de algo sucede cotidianamente,
como una rutina, hábitos o repeticiones.
{% endblock %}
<!---->

<!--Examples del Tiempo Verbal -->
{% block ExamplesVerbTense %}
    {% include 'components/simple_present/examples_box.html' %} 
{% endblock %}
<!---->

<!--Meanings del tiempo verbal-->
{% block MeaningsVerbTense %}
    {% include 'components/simple_present/meanings.html' %}
{% endblock %}
<!---->

<!--Reglas gramaticales del tiempo verbal -->
{% block GramaticalRulesVerbTense %}
    {% include 'components/simple_present/grammatical_rules.html' %}
{% endblock %}
<!---->

<!--Forma afirmativa del tiempo verbal -->
{% block AffirmativeVerbTense %}
    {% include 'components/simple_present/affirmative.html' %}
{% endblock %}
<!---->

<!--Forma Negativa del tiempo Verbal -->
{% block NegativeVerbTense %}
    {% include 'components/simple_present/negative.html' %}
{% endblock %}
<!---->

<!--Forma Interrogativa del tiempo Verbal -->
{% block InterrogativeVerbTense %}
    {% include 'components/simple_present/interrogative.html' %}
{% endblock %}
<!---->

<!--Usos del tiempo Verbal -->
{% block UsesVerbTense %}
    {% include 'components/simple_present/uses.html' %}
{% endblock %}
<!---->