{% extends 'layout.html' %}
<!------------------->
{% block css%}
<link rel="stylesheet" type="text/css" href="../public/css/verb_tenses.css"> {%endblock%} {% block content%} {% block style%}{%endblock%}

<div id="home" class="hero-area">

    <!-- Backgound Image -->

    <div class="bg-image bg-parallax" style="background-image: url('../public/img/simple-present.jpg')">
        <div class="bg-image transparence"></div>
    </div>
    <!-- /Backgound Image -->

    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 class="title">Simple Present</h1>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul style="list-style: none;">
                    <li>
                        <h4>I play football every saturday</h4>
                    </li>
                    <li>
                        <h4>I listen music in class hours</h4>
                    </li>
                    <li>
                        <h4>I learn english on Gabiteacher</h4>
                    </li>
                    <li>
                        <h4>We go to school every day</h4>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>

    </div>
</div>
{% endblock%}