<div>
  <h4 class="orangered">Grammatical Rules <i>(Reglas gramaticales)</i> </h4>
</div>

<div class="description">
  <p>
    Para conjugar en presente simple usamos el
    <b>verbo en infinitivo </b><i>(Verbo sin conjugar, run, jump, fly etc)</i> para
    los sujetos <b>I, You, We, They</b> y para las terceras personas del
    singular <b>He, She, It</b> le agregamos una <b>'S'</b> al final del verbo.
  </p>
</div>
<br />

<div class="row">
  <table class="table" style="padding: 10px;">
    <thead style="background-color: orangered; color: #fff;">
      <tr>
        <th scope="col">Sujeto</th>
        <th scope="col">Verbo</th>
      </tr>
    </thead>
    <tbody style="background-color: #f9f9f9;">
      <tr>
        <th scope="row">I, You, We, They</th>
        <th scope="row">Walk, Speak, Swim, Eat, Smoke, Wash, Do</th>
      </tr>
      <tr>
        <th scope="row">He, She, It</th>
        <th scope="row">Walks, Speaks, Swims, Eats, Smokes, Washes, Does</th>
      </tr>
    </tbody>
  </table>
</div>
