<div>
  <h4 class="orangered">Grammatical Rules (Reglas gramaticales)</h4>
</div>

<div class="description">
  <p>
    Para conjugar el presente simple usamos el
    <b>verbo en infinitivo</b> (Verbo sin conjugar, run, jump, fly etc..) para
    los sujetos <b>I, You, We, They</b> ya para las terceras personas del
    simgular <b>He, She, It</b> le agregamos una <b>'S'</b> al final del verbo.
  </p>
</div>
<br />

<div class="row">
  <table class="table" style="margin-left: 10px;">
    <thead style="background-color: orangered; color: #fff;">
      <tr>
        <th scope="col">Sujeto</th>
        <th scope="col">Verbo</th>
      </tr>
    </thead>
    <tbody style="background-color: #f9f9f9;">
      <tr>
        <th scope="row">I, You, We, They</th>
        <th scope="row">Walk, Speak, Swim, Eat, Smoke, Wash, Do</th>
      </tr>
      <tr>
        <th scope="row">He, She, It</th>
        <th scope="row">Walks, Speaks, Swims, Eats, Smokes, Washes, Does</th>
      </tr>
    </tbody>
  </table>
</div>
