<div style="border-top: solid 1px orangered;">
  <h5 class="orangered">
    3 - Interrogative Sentences <i>(Oraciones interrogativas)</i>
  </h5>
</div>

<div class="structure-box text center">
  <div class="row">
    <div class="col-md-4" style="text-align: center;">
      <h5>Verbo auxiliar (Do/Does)</h5>
    </div>

    <div class="col-md-1" style="text-align: center;">
      <h6><i class="fas fa-plus"></i></h6>
    </div>

    <div class="col-md-2" style="text-align: center;">
      <h4>Sujeto</h4>
    </div>

    <div class="col-md-1" style="text-align: center;">
      <h6><i class="fas fa-plus"></i></h6>
    </div>

    <div class="col-md-4" style="text-align: center;">
      <h4>Verbo principal</h4>
    </div>
  </div>
</div>

<div style="margin-left: 10px;">
  <h5 class="orangered">Example</h5>
  <ul>
    <li><h5>Do you jump two meters? <i>(¿Saltas 2 mts?)</i></h5></li>
    <li><h5>Does He fixes pipes? <i>(¿El repara tuberias?)</i></h5></li>
    <li><h5>Do We learn something? <i>(¿Aprendemos algo?)</i></h5></li>
  </ul>
</div>
