<div style="border-top: solid 1px orangered;">
  <h5 class="orangered">2 - Negative Sentences <i>(Oraciones Negativas)</i> </h5>
</div>

<div class="structure-box text center">
  <h4>Sujeto + Verbo auxiliar (Do/Does)+ Not + Verbo Principal</h4>
</div>

<div>
  <h5 class="orangered">Example</h5>
  <ul>
    <li><h5>You Do Not jump two meters. <i>(Tu no saltas dos metros)</i></h5></li>
    <li><h5>He Does Not fix pipes. <i>(El no repara tuberias)</i></h5></li>
    <li><h5>We Do Not learn something. <i>(No aprendemos algo)</i></h5></li>
  </ul>
</div>